.parent{
    width: 100%;
    height: 600px;
    background-color: darkgray;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: repeat(auto, 300px);
    gap: 2px;
    padding: 5px;
    grid-template-areas:
    'header header header'
    'left-sidebar main right-sidebar'
    'footer footer footer';
   

}
.div1{
    
    border: 1px solid black;
    box-sizing: border-box;
   
}
#box1{
    grid-area: header;   
    background-color: coral;
}
#box2{ 
    grid-area: left-sidebar;
    background-color: lightblue;
}
#box3{
    grid-area: main;
    background-color: lightgreen;
}
#box4{
    grid-area: right-sidebar;
    background-color: lightpink;
}
#box5{
    grid-area: footer;
    background-color: lightyellow;
    margin-top: 50px;


}
#box5:hover{
    background-color: yellow;
    cursor: pointer;
    box-shadow: 10px 10px 100px blue;
}

@media ( min-width: 200px) and (max-width: 1000px){
    .parent{
        grid-template-columns: 100%;
        grid-template-rows: repeat(auto, 100px);
        gap: 2px;
        padding: 5px;
        grid-template-areas:
        'header'
        'main'
        'left-sidebar'
        'right-sidebar'
        'footer';
        
    }
}