div{
    height: 400px;
    width: 400px;
   background-color: red;

    /* transition-property: all;
    transition-duration: 8s;
    transition-timing-function: linear;
    box-sizing: border-box;
    transition-delay: 22ms; */
    /* transition: all 3s ease-in-out 22ms; */
    animation-name: container;
    animation-duration: 3s;
    animation-iteration-count: 4;
    
}
/* div:hover{
    /* border: 50px solid black;
    background-color: blue;
    height: 400px;
    width: 400px; */
    /* background-color: chartreuse; */
/*     
    transform: translate(500px , 500px) rotateY(360deg) scale(10) skew(20deg , 20deg); */
    /* transform: rotateX(180deg);
     */

/* } */ 

@keyframes myAnimation {
    0%{
        background-color: blue;
    }
    
}