.Doraemon {
    width: 180px;
    height: 250px;
    margin: 20px;
    float: left;
    border: 3px solid black;
    border-radius: 10px;
    background-color: lightyellow;
    padding: 10px;
    text-align: center;

}
.container{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    border: 5px solid black;
    padding: 10px;
    height: 450px;
    background-color: lightblue;
    border-radius: 10px;   
}

.Doraemon img:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
    cursor: pointer;
    filter: brightness(1.1);
    
}
.Doraemon img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}


